.container {
    display: grid;
    grid-template-areas:
        "search search"
        "cou cou"
        "temp temp"
        "stat stat";;
    width: 100%;
    height: 100%; 
    font-family: 'Quicksand', sans-serif;
}


.country,
.temp,
.stats,
.search  {
    display: flex;
    align-items: center;
    justify-content: center;
}

.stats {
    flex-direction: column;
    justify-content: start;
}

.country,
.search {
    background-color: #4f748e;
}

.temp,
.stats {
    background-color: #e9eff3;
}

.country {
    grid-area: cou;
    font-size: 7vh;
}

.temp {
    grid-area: temp;
    font-size: 20vh;
}

.stats {
    grid-area: stat;
    font-size: 5vh;
}

.search {
    grid-area: search;
}

.search button,
.search input {
    font-family: 'Quicksand', sans-serif;
    border: 1px solid black;
    margin: 2px;
    height: 1.5em;
}

svg {
    height: 3.5vh;
    vertical-align: middle;
    color: #262a3e;
}